{% extends 'contributor/partials/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Bienvenue sur votre dashboard</h1>
    <div class="container frame">
        <div class="row">
            <div class="col-md-12 col-lg-9 mb-3">
                <h1>Vos statistiques</h1>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h3 class="card-title">Vos articles</h3>
                        <p class="number">8</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h3 class="card-title">Les commentaires sur vos articles</h3>
                        <p class="number">3</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body text-center">
                        <h3 class="card-title">Les commentaires sur vos articles</h3>
                        <p class="number">3</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
