.header-background .logo:hover{
  opacity: .5;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus{
  color: $light-blue;
}

//think to do include for all menus
header{
  .navbar{
    .container{

      .nav-item{
        @include menu-links(20%);
      }
      .nav-item.active a{
        color: $light-blue!important;
        @include menu-links-pseudo-elements(20%);
      }
    }
  }
}

@media screen and (max-width: 991px){
  header{
    .navbar{
      .container{
        text-align: center;
        .navbar-toggler{
          display: block;
          margin: 0 auto 20px auto;
        }
      }
    }
  }
}
