footer{
  background-color: $dark-blue;

  a{
    color: white;
    &:hover{
      color: $light-blue;
    }
  }

  .sitemap{
    .nav-item{
      width: 25%;
      margin: 0 auto;
      .nav-link{
        //display: inline-block;
        position: relative;
        padding: 0 10px;
      }
    }
  }

  .logo-footer:hover{
    opacity: 0.5;
  }
}

@media screen and (max-width:756px){
  footer {
    .sitemap {
      .nav-item {
        width: 50%;
      }
    }
  }
}
