{%  extends 'site/partials/base.html.twig' %}

{% block body %}

    <h1>Modifier vos données personnelles</h1>

    {{ form_start(form) }}

    {{ form_row(form.firstname) }}
    {{ form_row(form.email) }}

    <button type="submit">Enregistrer les modifications</button>

    {{ form_end(form) }}

{% endblock %}
