/* general */
body{
  //font-family: 'IBM Plex Sans', sans-serif;
  //position: relative;
  background-color: #f0eeee;
}
h1, h2, h3{
  font-family: 'Bungee Shade', serif;
}
h1{
  font-weight: 700;
  letter-spacing: 0.05em;
  color: $dark-blue;
}
.title-color{
  color: white;
  background-color: $dark-blue;
  margin-bottom: 0;
}

p, a{
  font-family: 'Roboto Light', serif;
  font-size: 20px;
}
a:hover{
  text-decoration: none;
}

//buttons
.cta-align{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover{
  opacity: 0.8;
}

.unvalid-comment-button, .valid-comment-button{
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
}

.unvalid-comment-button{
  background-color: $red-color;
  border-color: $red-color;
}

.valid-comment-button{
  background-color: $dark-blue;
  border-color: $dark-blue;
}

//tables
table{
  //border: 1px solid black !important;
  background-color: rgba(183, 212, 244, 0.89);
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden!important;
  vertical-align: middle!important;
  tbody{
    color: #757575;
    svg{
      fill: white;
    }
  }
}

//frames for admin dashboard
.frame{
  padding: 2%;
  background-color: white;
  border-radius: 5px;
  //box-shadow: 1px 2px 5px 5px rgba(71,71,71,0.52);
  //-webkit-box-shadow: 1px 2px 5px 5px rgba(71,71,71,0.52);
  //-moz-box-shadow: 1px 2px 5px 5px rgba(71,71,71,0.52);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

//utilities (if to big create utilities.scss to put it in
//menu links
@mixin menu-links($top){
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  .nav-link{
    color: white;
    &:hover{
      color: $light-blue;
    }
  }

  &:hover {
    @include menu-links-pseudo-elements(20%);
  }
}

@mixin menu-links-pseudo-elements($top){
  &:before {
    content: '</';
    position: absolute;
    left: 0;
    top: $top;
    color: $light-blue;
    font-weight: bold;
  }

  &:after {
    content: '>';
    position: absolute;
    right: 0;
    top: $top;
    color: $light-blue;
    font-weight: bold;
  }
}
