{% extends 'admin/partials/base.html.twig' %}

{% block title %}Créer une nouvelle veille{% endblock %}

{% block body %}
    <h1>Créer une nouvelle veille</h1>
    <div class="container">
        {{ form_start(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
